<div class="body profile">

    <div class="userInfo">
        <span class="mt-4">User Info </span>
    </div>





    <div class="row">
        <h6 class="col-md-3">Name :</h6>
        <p class=" col-md-7  "> {{user?.name | titlecase}}</p>
        <span class="col-12 col-md-2 text-md-right userId font-weight-bold"> {{user?.id}}</span>
        <div class="clearfix"></div>
        <h6 class="col-md-3">Email :</h6>
        <p class=" col-md-7  "> {{user?.email}}</p>
        <div class="clearfix"></div>
        <h6 class="col-md-3">Phone :</h6>
        <p class=" col-md-7  "> {{user?.phone}}</p>
        <div class="clearfix"></div>
        <h6 class="col-md-3">Website :</h6>
        <p class=" col-md-7  "> {{user?.website}}</p>
    </div>
    <div class="userInfo">
        <span class="mt-4">address Info </span>
    </div>


    <div class="row">
        <h6 class="col-md-3">street :</h6>
        <p class=" col-md-7  ">
            {{user?.address.street}}
        </p>
        <div class="clearfix"></div>
        <h6 class="col-md-3">suite :</h6>
        <p class=" col-md-7  "> {{user?.address.suite}}</p>
        <div class="clearfix"></div>
        <h6 class="col-md-3">city :</h6>
        <p class=" col-md-7  "> {{user?.address.city}}</p>
        <div class="clearfix"></div>
        <h6 class="col-md-3">zipcode :</h6>
        <p class=" col-md-7  "> {{user?.address.zipcode}}</p>
    </div>
    <div class="userInfo">
        <span class="mt-4">company Info </span>
    </div>



    <div class="row">
        <h6 class="col-md-3">company name :</h6>
        <p class=" col-md-7  ">
            {{ user?.company.name }}
        </p>
        <div class="clearfix"></div>
        <h6 class="col-md-3"> company catchPhrase :</h6>
        <p class=" col-md-7  "> {{user?.company.catchPhrase}}</p>
        <div class="clearfix"></div>
        <h6 class="col-md-3">company bs :</h6>
        <p class=" col-md-7  "> {{user?.company.bs}}</p>
    </div>

</div>