<div class="body profile">

    <div class="userInfo  mt-4 mb-3">
        <span class="">Post  Details </span>
    </div>


    <div class="card" >
            <div class="card-body">
              <h5 class="card-title">{{post?.title | titlecase}}</h5>
              <p class="card-text">{{post?.body }}</p>
             
            </div>
          </div>


</div>