<nav class="navbar navbar-expand-lg navbar-dark ">
<div class="container">  
  <a class="navbar-brand" [routerLink]="['/']">  <span class="ml-3"> dlctt</span></a>

  <button (click)="toggleNavBar()" class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [class.show]="isCollapse" class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto float-right">

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']" routerLinkActive="active current"
          [routerLinkActiveOptions]="{exact : true}" (click)="setTitle( 'dlctt | Home')" >Home </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['/users']" routerLinkActive="active current" (click)="setTitle( 'dlctt | Users')">Users
        </a>
      </li>
      <li class="nav-item ">
          <a class="nav-link" [routerLink]="['/posts']" routerLinkActive="active current" (click)="setTitle( 'dlctt | Posts')">Posts
          </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" [routerLink]="['/profile']" routerLinkActive="active current" (click)="setTitle( 'dlctt | Profile')" >Profile
            </a>
          </li>
          <li class="nav-item ">
              <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active current" (click)="setTitle( 'dlctt | Login')">Login
              </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link"   (click)="Loqout()">log out
                </a>
              </li>
     



    </ul>

  </div>
</div>
</nav>