<div class="row">

    <div class="home pt-5 col-md-7 offset-md-2">

        <h2 class="text-center">
            WE DELIVER EXCELLENCE TO TRAVEL INDUSTRY!
        </h2>
      
        <p class="text-center offset-1">
            AI-Powered solutions to automate your travel business entity.
      
        </p>
      </div> 
    </div>
    
       
      



