<div class="row">

  <div class="col-12 col-md-3 ">

    <div class="list-group">


      <span class="mt-3 mb-3">Users List</span>
      <input type="text" [(ngModel)]="userFilter.name" class="form-control mb-3" placeholder="Search ..">
      <a *ngFor="let item of users | filterBy: userFilter" class=" list-group-item list-group-item-action "
        [routerLink]="['/users',item.id]" [class.active]="userId === item.id">
        {{ item.name | titlecase}}
      </a>



    </div>

  </div>

  <div class="col-12 col-md-9  ">

    <app-user-details></app-user-details>

  </div>

</div>