<div class="row">

  <div class="col-12 col-md-4 ">

    <div class="list-group">


      <span class="mt-4 mb-3">posts List</span>
      <input type="text" [(ngModel)]="postFilter.body" class="form-control mb-3" placeholder="Search ..">
      <div class="list">
        <a *ngFor="let item of post | filterBy: postFilter" ng-init="limit = 50; moreShown = false" class=" list-group-item list-group-item-action "
          [routerLink]="['/posts',item.id]" [class.active]="userId === item.id">
          {{ item.body | titlecase}}
        </a>
      </div>



    </div>

  </div>

  <div class="col-12 col-md-8  ">

    <app-post-details></app-post-details>

  </div>

</div>