<div class="container mt-5">
  <div class="row">
    <div class="col-md-8  offset-md-2 ">
      <div class=" block">
        <div *ngIf="hero">
          <h2>{{hero.title | uppercase}} </h2>

          <div>
           
              <input class="form-control" [(ngModel)]="hero.title" placeholder="name" />
           
          </div>
          <button (click)="goBack()">go back</button>
          <button class="ml-1" (click)="save()">save</button>
        </div>
      </div>
    </div>
  </div>

</div>