<div class="about p-5  container-lg p-responsive">

  <h2>My Tasks</h2>

  <div>
    <label>task name:
      <input #taskName />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(taskName.value); taskName.value=''">
      add
    </button>
  </div>
  
  <ul class="heroes">
    <li *ngFor="let item of todoList">
      <a [routerLink]="['/todo',item.id]" >
        <span class="badge">{{item.id}}</span> {{item.title}}
      </a>
      <button class="delete" title="delete hero"
        (click)="delete(item)">x</button>
    </li>
  </ul>
  
  
  </div>